@model Product
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Egost.Areas.Identity.Data.User> SignInManager
@inject UserManager<Egost.Areas.Identity.Data.User> UserManager
@{
    ViewBag.Title = Model.Name;
    List<string> imageUrls = ViewBag.FileNames;
    bool inCart = ViewBag.inCart;
    bool inWishlist = ViewBag.inWishlist;
}

<div class="container my-5">
    <div class="row">
        <!-- Product Image Carousel -->
        <div class="col-md-6">
            <div class="swiper main-slider mb-4">
                <div class="swiper-wrapper">
                    @foreach (var imageUrl in imageUrls)
                    {
                        <div class="swiper-slide">
                            <img src="~/Media/ProductMedia/@Model.Id/@imageUrl" class="img-fluid w-100 h-100" style="object-fit: cover;"/>
                        </div>
                    }
                </div>
                <div class="swiper-button-next text-dark"></div>
                <div class="swiper-button-prev text-dark"></div>
            </div>
            <div thumbsSlider="" class="swiper thumbs-slider">
                <div class="swiper-wrapper justify-content-center">
                    @foreach (var imageUrl in imageUrls)
                    {
                        <div class="swiper-slide">
                            <img src="~/Media/ProductMedia/@Model.Id/@imageUrl" height="50px" width="100%"/>
                        </div>
                    }
                </div>
            </div>

            <!-- Cart and Wishlist Buttons -->
            <div class="d-flex gap-3 mt-5">
                <form method="post" class="d-flex flex-grow-1 gap-3" asp-area="" asp-controller="Cart" asp-action="ModifyProducts" asp-route-ProductId=@Model.Id>
                    <select name="Count" class="form-select w-auto" @(Model.SKU < 1 ? "disabled" : "")>
                        @for (int i = 1; i < Model.SKU; i++)
                        {
                            <option value=@i>@i</option>                            
                        }
                    </select>

                    <button type="submit" class="btn btn-primary flex-grow-1" @(Model.SKU < 1 ? "disabled" : "")>
                        @if (ViewBag.inCart)
                        {
                            <text>Added &nbsp;</text>
                            <i class="bi bi-bag-check"></i>
                        }
                        else
                        {
                            <text>Add To Cart &nbsp;</text>
                            <i class="bi bi-bag"></i>
                        }
                    </button>
                </form>

                <form method="post" asp-area="" asp-controller="Store" asp-action="ModifyWishlist" asp-route-ProductId=@Model.Id>
                    <button type="submit" class="btn @(inWishlist ? "btn-danger" : "btn-outline-secondary")">
                        <i class="bi @(inWishlist ? "bi-bookmark-heart-fill" : "bi-bookmark-heart")"></i>
                    </button>
                </form>
            </div>
        
            <!-- Admin Edit and Chart View Buttons -->
            @if (SignInManager.IsSignedIn(User))
            {
                Egost.Areas.Identity.Data.User user = UserManager.GetUserAsync(User).Result!;
                @if (await UserManager.IsInRoleAsync(user, "Admin") || await UserManager.IsInRoleAsync(user, "Moderator"))
                {
                    <div class="d-flex gap-3 mt-5">
                        <a class="btn btn-info flex-grow-1 btn-sm" asp-controller="Manage" asp-action="EditProduct" asp-route-id="@Model.Id">Modify &nbsp; <i class="bi bi-wrench"></i></a>
                        <a class="btn btn-dark flex-grow-1 btn-sm" asp-controller="Manage" asp-action="ChartView" asp-route-ProductId="@Model.Id">Charts &nbsp; <i class="bi bi-graph-up-arrow"></i></a>
                    </div>
                }
            }
        </div>
        
        <!-- Product Details -->
        <div class="col-md-6">
            <a class="text-muted text-decoration-none" asp-area="" asp-controller="Store" asp-action="Search" asp-route-categoryName=@Model.Category.Name>@Model.Category.Name</a>
            <h1>@Model.Name</h1>
            <h3 class="text-primary"> @($"{Model.PriceCents * (1 - Model.SalePercent / 100.0) / 100.0:F2}") EGP</h3>

            @if (Model.SalePercent > 0)
            {
                <h6>
                    <span class="text-muted"><del>@(Model.PriceCents / 100) EGP</del></span> &ensp; <span class="badge bg-success">@Model.SalePercent% OFF</span>
                </h6>
            }

            <h4>Description:</h4>
            <p style ="white-space: pre-wrap;">@Model.Description</p>

            <!-- Reviews -->
            <div class="mt-4">
                <h5>Reviews:</h5>
                @foreach (var review in Model.Reviews)
                {
                    <div class="review mb-2">
                        <strong>@review.Reviewer.Name</strong>
                        <p>@review.Text</p>
                        <p class="text-muted">@review.CreatedDateTime.ToShortDateString()</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/FullView.js"></script>
}
