@model IEnumerable<Product>
@using System.IO
@{
    ViewData["Title"] = "Home";
}


<div class="container p-4">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Index Products</h2>
        </div>
    </div>
    <div class="row pt-4">
    @foreach(var data in Model)
    {
        var MainImg = System.IO.Path.GetFileName(Directory.GetFiles($"wwwroot\\ProductMedia\\{data.Id}")[0]);
        <div class="col-lg-4">
            <div class="card mb-3">
                <a class="text-decoration-none" asp-controller="Store" asp-action="FullView" asp-route-id="@data.Id">
                    <img src="~/ProductMedia/@data.Id/@MainImg" style="width:100%; height:400px">
                    @if (data.SalePercent > 0)
                    {
                        <span class="badge bg-info position-absolute" style="top:10px;right:10px">@(data.SalePercent)% OFF</span>
                    }
                    <ul class="list-group list-group-flush">
                        <li class="list-group-Product border-0 text-body-secondary"><h6>@data.Category</h6></li>
                        <li class="list-group-Product border-0"><h4>@data.Name</h4></li>
                        @if(data.SalePercent > 0)
                        {
                            <li class="list-group-Product border-0">
                                <text class="fs-3">@(data.PriceCents * 0.01 * (1 - data.SalePercent / 100)) EGP &nbsp; <small class="text-danger fs-6 text-decoration-line-through">@(data.PriceCents * 0.01) EPG</small></text>
                            </li>
                        }
                        else
                        {
                            <li class="list-group-Product border-0"><h3>@(data.PriceCents * 0.01) EGP</h3></li>
                        }
                    </ul>
                    <div class="card-body">
                        <a class="btn btn-info btn-sm" asp-controller="Manage" asp-action="EditProduct" asp-route-id="@data.Id">Modify &nbsp; <i class="bi bi-wrench"></i></a>
                        <a class="btn btn-danger btn-sm" asp-controller="Order" asp-action="Product" asp-route-id="@data.Id">PurchaseRequest &nbsp; <i class="bi bi-graph-up-arrow"></i></a>
                    </div>
                    <div class="card-footer text-muted">
                        @data.CreatedDateTime
                    </div>
                </a>
            </div>
        </div>
    }
    </div>
</div>