@model (IEnumerable<Product> orderedByMostOrders, IEnumerable<Product> productsOnSale, IEnumerable<Product> productsAddedLastWeek)
@{
    ViewBag.Title = "Egost - Home";
    var categories = ViewBag.CategoriesNames as IEnumerable<string>;
}

<div class="container my-5">
    <!-- Categories Swiper -->
    <div class="row mb-4">
        <div class="swiper">
            <div class="swiper-wrapper">
                @foreach (var category in categories!)
                {
                    <a asp-area="" asp-controller="Store" asp-action="Search" asp-route-categoryName=@category class="swiper-slide text-center text-decoration-none">
                        <div class="category-circle mx-auto">
                            <img src="~/Media/Categories/@(category).jpg" class="img-fluid rounded-circle" alt="@category" />
                        </div>
                        <strong class="text-black">@category</strong>
                    </a>
                }
            </div>
            <div class="swiper-button-next text-dark"></div>
            <div class="swiper-button-prev text-dark"></div>
        </div>
    </div>

    <!-- Most Ordered Products Swiper -->
    <div class="row mb-4">
        <h2 class="mb-3">Most Ordered Products</h2>
        <div class="swiper">
            <div class="swiper-wrapper">
                @foreach (var product in Model.orderedByMostOrders)
                {
                    var MainImg = System.IO.Path.GetFileName(Directory.GetFiles($"wwwroot\\Media\\ProductMedia\\{product.Id}")[0]);
                    <a asp-area="" asp-controller="Store" asp-action="FullView" asp-route-Id=@product.Id class="swiper-slide text-decoration-none">
                        <div class="card">
                            <img src="~/Media/ProductMedia/@product.Id/@MainImg" class="card-img-top" alt="@product.Name" />
                            <div class="card-body">
                                <h5 class="card-title">@product.Name</h5>
                                <p class="card-text">
                                    <span>@($"{product.PriceCents * (1 - product.SalePercent / 100.0) / 100.0:F2}") EGP</span>
                                    @if (product.SalePercent > 0)
                                    {
                                        <span class="text-muted"><del>@(product.PriceCents / 100.0) EGP</del></span>
                                        <span class="badge bg-success">@product.SalePercent% OFF</span>
                                    }
                                </p>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <div class="swiper-button-next text-dark"></div>
            <div class="swiper-button-prev text-dark"></div>
        </div>
    </div>

    <!-- On Sale Products Swiper -->
    <div class="row mb-4">
        <h2 class="mb-3">On Sale Products</h2>
        <div class="swiper">
            <div class="swiper-wrapper">
                @foreach (var product in Model.productsOnSale)
                {
                    var MainImg = System.IO.Path.GetFileName(Directory.GetFiles($"wwwroot\\Media\\ProductMedia\\{product.Id}")[0]);
                    <a asp-area="" asp-controller="Store" asp-action="FullView" asp-route-Id=@product.Id class="swiper-slide text-decoration-none">
                        <div class="card">
                            <img src="~/Media/ProductMedia/@product.Id/@MainImg" class="card-img-top" alt="@product.Name" />
                            <div class="card-body">
                                <h5 class="card-title">@product.Name</h5>
                                <p class="card-text">
                                    <span>@($"{product.PriceCents * (1 - product.SalePercent / 100.0) / 100.0:F2}") EGP</span>
                                    @if (product.SalePercent > 0)
                                    {
                                        <span class="text-muted"><del>@(product.PriceCents/100.0) EGP</del></span>
                                        <span class="badge bg-success">@product.SalePercent% OFF</span>
                                    }
                                </p>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <div class="swiper-button-next text-dark"></div>
            <div class="swiper-button-prev text-dark"></div>
        </div>
    </div>

    <!-- Newly Added Products Swiper -->
    <div class="row mb-4">
        <h2 class="mb-3">New Arrivals</h2>
        <div class="swiper">
            <div class="swiper-wrapper">
                @foreach (var product in Model.productsAddedLastWeek)
                {
                    var MainImg = System.IO.Path.GetFileName(Directory.GetFiles($"wwwroot\\Media\\ProductMedia\\{product.Id}")[0]);
                    <a asp-area="" asp-controller="Store" asp-action="FullView" asp-route-Id=@product.Id class="swiper-slide text-decoration-none">
                        <div class="card">
                            <img src="~/Media/ProductMedia/@product.Id/@MainImg" class="card-img-top" alt="@product.Name" />
                            <div class="card-body">
                                <h5 class="card-title">@product.Name</h5>
                                <p class="card-text">
                                    <span>@($"{product.PriceCents * (1 - product.SalePercent / 100.0) / 100.0:F2}") EGP</span>
                                    @if (product.SalePercent > 0)
                                    {
                                        <span class="text-muted"><del>@(product.PriceCents / 100.0) EGP</del></span>
                                        <span class="badge bg-success">@product.SalePercent% OFF</span>
                                    }
                                </p>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <div class="swiper-button-next text-dark"></div>
            <div class="swiper-button-prev text-dark"></div>
        </div>
    </div>
</div> 

@section Scripts {
    <script src="~/js/Home.js"></script>
}