@model IEnumerable<Product>
@using System.IO
@{
    ViewData["Title"] = "Home";
}


<div class="container p-4">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Index Products</h2>
        </div>
    </div>
    <div class="row pt-4">
        @foreach (var data in Model)
        {
            var MainImg = System.IO.Path.GetFileName(Directory.GetFiles($"wwwroot\\ProductMedia\\{data.Id}")[0]);
            <div class="col-lg-4">
                <div class="card mb-3">
                    <a class="text-decoration-none" asp-controller="Store" asp-action="FullView" asp-route-id="@data.Id">
                        <img src="~/ProductMedia/@data.Id/@MainImg" style="width:100%; height:400px">
                        @if (data.SalePercent > 0)
                        {
                            <span class="badge bg-info position-absolute" style="top:10px;right:10px">@(data.SalePercent)% OFF</span>
                        }
                        <ul class="list-group list-group-flush list">
                            <li class="list-group-item border-0 text-body-secondary"><h6>@data.Category.Name</h6></li>
                            <li class="list-group-item border-0"><h4>@data.Name</h4></li>
                            @if (data.SalePercent > 0)
                            {
                                <li class="list-group-item border-0">
                                    <text class="fs-3">@(data.PriceCents * Convert.ToByte(100 - data.SalePercent) / 10000.0) EGP &nbsp; <small class="text-danger fs-6 text-decoration-line-through">@(data.PriceCents / 100.0) EPG</small></text>
                                </li>
                            }
                            else
                            {
                                <li class="list-group-item border-0"><h3>@(data.PriceCents / 100.0) EGP</h3></li>
                            }
                        </ul>
                    </a>
                </div>
            </div>
        }
    </div>
</div>