@model IEnumerable<Order>
@using System.IO


<div class="container p-4">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Index Cart Items</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-success" asp-controller="Manage" asp-action="Index">Add More Items &nbsp; <i class="bi bi-plus-circle"></i></a>
        </div>
    </div>
    <div class="row pt-4">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Price</th>
                    <th scope="col">Payment State</th>
                    <th scope="col">Ordering Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Cancel</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var data in Model)
                {
                    <tr>
                        <td>@data.Id</td>
                        <td>@(data.TotalCents * 0.01) @data.Currency</td>
                        <td>
                            
                        </td>
                        <td>@data.CreatedDateTime</td>
                        <td>@data.DeletedDateTime</td>
                        <td><a class="btn btn-danger" asp-controller="Order" asp-action="Cancel" asp-route-orderId=@data.Id><i class="bi bi-trash3"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
        @* @if (Model.Count > 0)
        {
            <form method="post" asp-controller="Cart" asp-action="ApplyPromoCode" asp-route-CartId=@ViewBag.Id>
                <div class="row">
                    <div class="col-2">
                        <label class="col-form-label" for="inputDefault">PromoCode:</label>
                    </div>
                    <div class="col-7">
                        <input type="text" name="PromoCode" class="form-control" value=@ViewBag.PromoCode>
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-info">Apply</button>
                    </div>
                </div>
            </form>
            <hr class="mx-auto mx-lg-0 my-5">
            <a class="btn btn-primary" asp-controller="Order" asp-action="New">Purchase Cart Items &nbsp; <i class="bi bi-clipboard2-check"></i></a>
        }
        else
        {
            <p>Your Cart is Empty. Add Items to Purchase!</p>
        } *@
    </div>
</div>
